#content-area {
  overflow: auto;
  width: 100%;
  // background: black;
  min-height: 90%;

  // position: absolute;

}


#filter {
  background: $lightBlue;
  color: white;
  width: 20%;
  // max-width: 250px;
  // min-width: 250px;
  display: inline-block;
  float: left;

  height: 100vh;

  position: fixed;

  padding-top: 6%;


  .inside {
    // padding: 30px 25px 30px 45px;
    padding: 20px;
    max-width: 300px;
  }

  h4 {
    font-size: 14px;
    margin-bottom: 25px;
    font-weight: 500;
    text-transform: uppercase;
  }

  select {
    height: 25px;
    background: trasparent;
    padding: 10px;
    font-size: 12px;
    font-weight: 300;
    color: #1B1B1B;
    display: block;
    margin-bottom: 25px;
    width: 100%;
  }

  .filters {
    .title {
      font-size: 13.5px;
      font-weight: 400;
      display: block;
      margin-bottom: 16px;
      color: darkGrey;
    }

    input[type="number"] {
      border-radius: 5px;
      font-size: 14px;
      padding: 5px;
      width: 45%;
      display: inline-block;
      margin-right: 2.5%;
      margin-bottom: 16px;
    }

    // this was used prior to changing input to type=number (above)
    input[type="text"] {
      border-radius: 5px;
      font-size: 14px;
      padding: 5px;
      width: 45%;
      display: inline-block;
      margin-right: 2.5%;
      margin-bottom: 16px;
    }

    //target .filters that have .features
    &.features {
      margin-top: 30px;
      label {
        font-size: 13px;
        font-weight: 200;
        display: block;
        width: 100%;
        padding: 10px 0;

        input[type="checkbox"] {
          float: right;

          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }
}





#listings {
  width: 80%;

  float: left;
  display: inline-block;
  padding: 115px 40px;
  background: $offWhite;

  position: relative;
  left: 20%;

  .search-area {
    input[type="text"] {
      font-weight: 200;
      width: 70%;
      background: transparent;
      font-size: 32px;
      border: none;
      border-bottom: 2px solid $darkBrown;
      margin-bottom: 20px;
      color: $darkBrown;
      outline: none;

      // position: fixed;
      //
      // z-index: 1;

    }
  }
  .sort_by-area {
    margin-bottom: 50px;

    // position: fixed;
    // z-index: 1;

    .results {
      color: $darkGrey;
      font-size: 12px;
      display: inline-block;
      float: left;
    }
    .sort-options {
      display: inline-block;
      float: right;

      select {
        font-size: 10px;
        font-weight: 300;
        color: $darkBrown;
        border: 1px solid $darkBrown;
        background: transparent;
        padding: 0;
        display: inline-block;
        margin-right: 15px;
        // float: left;
        vertical-align: top;
      }
      .view {
        display: inline-block;

        .fa {
          margin-right: 15px;
          font-size: 18px;

        }
        .fa-th-list {
          transition: all .2s ease-in-out;
          &:hover {
            color: $gold;
            cursor: pointer;
          }
        }
        .fa-th {
          transition: all .2s ease-in-out;
          &:hover {
            color: $gold;
            cursor: pointer;
          }
        }


      }
    }
  }



  .listings-results {
    margin-bottom: 60px;
    display: block;
    width: 100%;

    .listing {
      background: white;
      border-radius: 5px;

      -webkit-box-shadow: 13px 19px 66px -36px rgba(29,62,76,1);
      -moz-box-shadow: 13px 19px 66px -36px rgba(29,62,76,1);
      box-shadow: 13px 19px 66px -36px rgba(29,62,76,1);

      margin-bottom: 40px;

    }

    .listing-img {
      color: white;
      padding: 15px;
      position: relative;
      background: url("https://images.pexels.com/photos/323780/pexels-photo-323780.jpeg?auto=compress&cs=tinysrgb&h=350") no-repeat center center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;

      min-height: 200px;
      // width: 100%;
      // height: 100%;


      -webkit-border-top-left-radius: 5px;
      -webkit-border-top-right-radius: 5px;
      -moz-border-radius-topleft: 5px;
      -moz-border-radius-topright: 5px;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;


      transition: all .4s ease-in-out;


      &:hover {
        .details {
          opacity: 1;
        }
        .address {
          opacity: 0;
        }
      }


      .address {
        position: absolute;
        bottom: 21px;
        opacity: 1;
        transition: all .5s ease-in-out;
        font-size: 20px;
        font-weight: 300;
        text-shadow: 0px 1px 19px rgba(0, 0, 0, 1);
      }


      .details {

        transition: all .5s ease-in-out;
        opacity: 0;

        font-weight: 100;
        padding: 30px;
        // padding: 10px 20px 40px 20px;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;

        -webkit-border-top-left-radius: 5px;
        -webkit-border-top-right-radius: 5px;
        -moz-border-radius-topleft: 5px;
        -moz-border-radius-topright: 5px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;

        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0d242e+0,1d3e4c+33,b86d32+63,f59e48+100 */
        background: rgba(13,36,46,.8); /* Old browsers */
        background: -moz-linear-gradient(-45deg, rgba(13,36,46,.8) 0%, rgba(29,62,76,.8) 33%, rgba(184,109,50,.8) 63%, rgba(245,158,72,.8) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(-45deg, rgba(13,36,46,.8) 0%,rgba(29,62,76,.8) 33%,rgba(184,109,50,.8) 63%,rgba(245,158,72,.8) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(135deg, rgba(13,36,46,.8) 0%,rgba(29,62,76,.8) 33%,rgba(184,109,50,.8) 63%,rgba(245,158,72,.8) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */


        .user-img {
          width: 35px;
          height: 35px;
          border-radius: 50%;
          border: 1px solid white;
          display: inline-block;
          position: relative;
          top: 5px;

          background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/737555/profile/profile-512.jpg?100000") no-repeat center center;
          -webkit-background-size: cover;
          -moz-background-size: cover;
          -o-background-size: cover;
          background-size: cover;
        }

        .user-details {
          vertical-align: top;
          display: inline-block;

          .user-name {
            font-size: 14px;
            font-weight: 300;
            display: block;
            color: rgba(255,255,255, 1);
            margin-top: 5px;
            margin-bottom: 5px;
          }

          .post-date {
            font-size: 14px;
            display: block;
            color: rgba(255,255,255, .7)
          }
        }
        .listing-details {
          margin-top: 20px;
          margin-bottom: 10px;

          .fa {
            display: inline-block;
            font-size: 20px;
            margin-right: 15px;
          }
          span {
            display: inline-block;
            font-size: 12px;
            font-weight: 300;
            vertical-align: top;
            position: relative;
            top: 3px;
          }


          .squareFeet {
            margin-bottom: 7px;
          }

          .bedrooms {

          }
        }


        .view-btn {
          background: $darkBrown;
          padding: 5px 4px;
          font-size: 13px;
          letter-spacing: 2px;
          border-radius: 5px;
          text-align: center;
          width: 75%;
          max-height: 150px;


          transition: color .4s ease-in-out, background-color .3s ease-in-out, font-weight .2s ease-in-out;
          &:hover {
            background: $gold;
            cursor: pointer;
            color: $darkBrown;
            font-weight: 400;
          }
        }


      }
    }

    .bottom-info {
      padding: 20px 15px;

      .price {
        color: $darkBrown;
        font-weight: 400;
        font-size: 16px;
        display: block;
        margin-bottom: 10px;
      }

      .location {
        color: $lightBrown;
        font-weight: 300;
        font-size: 17px;
        display: block;

        .fa {
          color: $lightBrown;
          margin-right: 5px;
        }
      }
    }

  }

}








#pagination {
  display: block;
  width: 100%;
  text-align: center;

  .pages{
    margin-left: 0 auto;
    display: inline-block;
    background: white;
    // -webkit-box-shadow: 13px 19px 66px -36px rgba(29,62,76,1);
    // -moz-box-shadow: 13px 19px 66px -36px rgba(29,62,76,1);
    // box-shadow: 13px 19px 66px -36px rgba(29,62,76,1);

    -webkit-box-shadow: 0 9px 54px -4px rgba(224,224,224,1);
    -moz-box-shadow: 0 9px 54px -4px rgba(224,224,224,1);
    box-shadow: 0 9px 54px -4px rgba(224,224,224,1);

    li {
      padding: 20px 30px;
      display: inline-block;

      &.active {
        color: white;
        font-weight: 400;
        background: $lightBrown;
        border-radius: 5%;
        cursor: pointer;
      }
      &:hover {
        color: white;
        font-weight: 400;
        background: $gold;
        border-radius: 5%;
        cursor: pointer;
      }
    }
  }
}










// USED BEFORE _grid.scss WAS ADDED

// .col-md-3 {
//   width: 25%;
//   display: inline-block;
//   vertical-align: top;
//   padding: 0 15px;
//
// }
//
//
//
// .col-md-3-listing {
//   width: 33%;
//   display: inline-block;
//   vertical-align: top;
//   padding: 0 15px;
//
// }
//
//
// .col-md-9 {
//   width: 75%;
//   display: inline-block;
// }
//
//
//
// .col-lg-6 {
//   width: 50%;
//   display: inline-block;
//   vertical-align: top;
//   padding: 0 15px;
//
// }



// END
