header {
  background: $darkBlue;
  color: white;
  overflow: auto;
  padding: 25px 45px;
  color: $gold;

  height: 10%;

  .logo {
    font-size: 18px;
    float: left;
    transition: color .5s ease-in-out;

    &:hover {
      color: white;
      font-weight: 100;
    }
    span {
      font-weight: 100;
      color: white;
      transition: color .7s ease-in-out;

      &:hover {
        color: $gold;
        font-weight: 400;
      }
    }
  }

  nav {
    float: right;
    a {
      font-size: 14px;
      font-weight: 300;
      color: white;
      text-decoration: none;
      padding: 10px 28px;
      text-transform: capitalize;
      transition: color .3s ease-in-out;

      &:hover {
        color: $gold;
      }
      &.register-btn {
        background: $lightBrown;
        padding: 7px 27px;
        text-align: center;
        color: white;
        border-radius: 5px;
        transition: background .4s ease-in-out;
        transition: color .5 ease-in-out;

        &:hover {
          background: $gold;
          color: $darkBrown;
          font-weight: 400;
        }
      }
    }
  }
}
