header {
  background: $darkBlue;
  color: white;
  overflow: auto;
  padding: 25px 45px;
  color: $gold;

  height: 10%;

  position: fixed;

  width: 100vw;

  z-index: 1;


  .logo {
    font-size: 18px;
    float: left;
    transition: color .5s ease-in-out;
    cursor: none;

    &:hover {
      color: white;
      font-weight: 100;
    }
    span {
      font-weight: 100;
      color: white;
      transition: color .7s ease-in-out;

      &:hover {
        color: $gold;
        font-weight: 400;
      }
    }
  }

  nav {
    float: right;
    a {
      font-size: 14px;
      font-weight: 300;
      color: white;
      text-decoration: none;
      padding: 10px 28px;
      text-transform: capitalize;
      transition: color .3s ease-in-out;

      &:hover {
        color: $gold;
      }
      &.header-btn {
        background: $lightBrown;
        padding: 7px 27px;
        text-align: center;
        color: white;
        border-radius: 5px;
        transition: color .4s ease-in-out, background-color .3s ease-in-out;


        &:hover {
          background: $gold;
          color: $darkBrown;
          
        }

        &.filters-btn {
          display: none;
        }
      }
    }
    .nav-btn {
      position: absolute;
      top: 38px;
      right: 35px;
      height: 16px;
      width: 19px;
      font-size: 22px;
      z-index: 999999999;
      transition: all 0.6s ease;
      display: none;
      .nav-line {
        background-color: #FFF;
        height: 3px;
        width: 100%;
        &.top-line {
          margin-top: 0;
        }
        &.middle-line {
          margin-top: 2px;
          width: 80%;
          margin-left: 20%;
          opacity: 1;
          transition: all 0.6s ease-in-out;
        }
        &.middle-line.active {
          opacity: 0;
        }
        &.bottom-line {
          position: relative;
          margin-top: 2px;
        }
      }
    }
    .nav-btn.active {
      top: 34px;
    }
  }
}




@media (max-width: 1300px) {

	// rules here apply to devices from 901px to 1200px (inclusive)
  header nav a.header-btn.filters-btn {
    display: block;
  }

  header nav .nav-btn {
    display: block;
  }


}


@media (max-width: 1000px) {	

	// rules here apply to devices from 601px to 900px (inclusive)



}

@media (max-width: 768px) {

	// rules here apply to devices from 0px to 600px (inclusive)

  
}



@media (max-width: 470px) {

	// rules here apply to devices from 0px to 470px (inclusive)


  
}