$darkBlue: #0D242E;
$lightBlue: #1D3E4C;
$gold: #F59E48;
$lightBrown: #B86D32;
$mediumBrown: #622E31;
$darkBrown: #352523;

$offWhite: #FFFEFF;

$lightGrey: #DFDFDF;
$darkGrey: #ADA8AA;

$realLightGrey: #F1F1F1;



$grid-columns: 12;
$grid-max-width: 1200px; //breakpoint-small
$breakpoint-small: "only screen and (min-width: 0px)";
$breakpoint-medium: "only screen and (min-width: 768px)";
$breakpoint-large: "only screen and (min-width: 1000px)";
$breakpoint-xl: "only screen and (min-width: 1300px)";
